In [1]:
import get_dataframe
import pandas as pd
cache_path = "../../data/sensor_cache/"

In [93]:
id = 672528
get_dataframe.build_df(id, cache_path)

All items returned

In [94]:
feeds = get_dataframe.get_df(id, cache_path)

In [95]:
feeds.head()
feeds.tail()

,entry_id,Sensor1 PM2.5_CF_1_ug/m3,Sensor1 PM10_CF_1_ug/m3,Sensor2PM2.5_CF_1_ug/m3,Sensor2 PM10_CF_1_ug/m3,Latitude,Longitude,Battery Voltage,GpsData
created_at,,,,,,,,,
2019-01-12T11:57:32Z,1,23.17,25.67,16.25,16.72,0.0,0.0,3.94,"0.000000,0.000000,,~�7�!,����k����[�����4W`M�~..."
2019-01-12T11:58:46Z,2,25.68,27.52,18.27,18.32,1000.0,1000.0,NaN,"1000.000000,1000.000000,!�!�n\n,�!,�k����[���..."
2019-01-12T11:59:58Z,3,23.58,25.57,17.57,17.63,1000.0,1000.0,�!,"1000.000000,1000.000000,,~�7�!,����k����[�����..."
2019-01-12T12:01:11Z,4,22.42,23.87,15.63,17.68,1000.0,1000.0,NaN,"1000.000000,1000.000000,!�!�n\n,�!,�k����[���..."
2019-01-12T12:02:32Z,5,17.25,17.50,15.37,17.65,1000.0,1000.0,�!,"1000.000000,1000.000000,,~�7�!,����k����[�����..."

,entry_id,Sensor1 PM2.5_CF_1_ug/m3,Sensor1 PM10_CF_1_ug/m3,Sensor2PM2.5_CF_1_ug/m3,Sensor2 PM10_CF_1_ug/m3,Latitude,Longitude,Battery Voltage,GpsData
created_at,,,,,,,,,
2020-02-14T15:56:31Z,143838,64.23,72.48,63.52,72.15,-0.265429,30.107006,3.8,"-0.265429,30.107006,1321.00,0.02,8.00,89.00,27..."
2020-02-14T15:57:53Z,143839,66.82,75.22,66.02,74.12,-0.265455,30.107019,3.79,"-0.265455,30.107019,1316.80,0.01,7.00,91.00,27..."
2020-02-14T15:59:14Z,143840,81.52,85.50,74.82,81.43,-0.265445,30.107012,3.79,"-0.265445,30.107012,1313.80,0.02,9.00,87.00,27..."
2020-02-14T16:00:36Z,143841,101.73,106.67,93.92,97.30,-0.265444,30.107016,3.8,"-0.265444,30.107016,1311.00,0.01,9.00,85.00,27..."
2020-02-14T16:02:07Z,143842,98.15,101.02,92.63,96.82,-0.265440,30.107023,3.8,"-0.265440,30.107023,1313.20,0.03,9.00,85.00,27..."

In [96]:
pd.melt

In [5]:
value_vars = ["Sensor1 PM2.5_CF_1_ug/m3", 
              "Sensor1 PM10_CF_1_ug/m3", 
              "Sensor2PM2.5_CF_1_ug/m3", 
              "Sensor2 PM10_CF_1_ug/m3"]

In [54]:
a = pd.melt(feeds, id_vars = "entry_id", value_vars = value_vars )
a

        entry_id                  variable  value
0              1  Sensor1 PM2.5_CF_1_ug/m3  23.17
1              2  Sensor1 PM2.5_CF_1_ug/m3  25.68
2              3  Sensor1 PM2.5_CF_1_ug/m3  23.58
3              4  Sensor1 PM2.5_CF_1_ug/m3  22.42
4              5  Sensor1 PM2.5_CF_1_ug/m3  17.25
...          ...                       ...    ...
575271    143815   Sensor2 PM10_CF_1_ug/m3  55.60
575272    143816   Sensor2 PM10_CF_1_ug/m3  61.02
575273    143817   Sensor2 PM10_CF_1_ug/m3  61.85
575274    143818   Sensor2 PM10_CF_1_ug/m3  59.18
575275    143819   Sensor2 PM10_CF_1_ug/m3  62.33

[575276 rows x 3 columns]

In [59]:

new = a["variable"].str.split("P", n=1, expand=True)
new.insert(0, "entry_id", a["entry_id"])
new["value"] = a["value"]

new[0] = new[0].str.strip()

In [92]:
new.pivot(columns = new.columns[2], values = "value")

1       M10_CF_1_ug/m3  M2.5_CF_1_ug/m3
0                  NaN            23.17
1                  NaN            25.68
2                  NaN            23.58
3                  NaN            22.42
4                  NaN            17.25
...                ...              ...
575271           55.60              NaN
575272           61.02              NaN
575273           61.85              NaN
575274           59.18              NaN
575275           62.33              NaN

[575276 rows x 2 columns]

In [82]:
new.columns[1]

0

In [83]:
c = new.groupby([new.columns[0], new.columns[1]])[new.columns[2],new.columns[3]]
c.head()

                      1  value
0       M2.5_CF_1_ug/m3  23.17
1       M2.5_CF_1_ug/m3  25.68
2       M2.5_CF_1_ug/m3  23.58
3       M2.5_CF_1_ug/m3  22.42
4       M2.5_CF_1_ug/m3  17.25
...                 ...    ...
575271   M10_CF_1_ug/m3  55.60
575272   M10_CF_1_ug/m3  61.02
575273   M10_CF_1_ug/m3  61.85
575274   M10_CF_1_ug/m3  59.18
575275   M10_CF_1_ug/m3  62.33

[575276 rows x 2 columns]

In [38]:
new.pivot(index="entry_id", columns = new.columns[1])

ValueError: Index contains duplicate entries, cannot reshape

In [21]:
new2.pivot(values = "value", columns = new.columns[1])

ValueError: Index contains duplicate entries, cannot reshape

In [15]:
len(new.entry_id)

575276

In [16]:
len(set(new.entry_id))

143819

ValueError: 'get_dataframe.py' was not found in history, as a file, url, nor in the user namespace.