In [1]:
import get_thingspeak

In [8]:
feeds = get_thingspeak.feed_data(870146)

Requesting page 1

OperationalError: database is locked

In [4]:
feeds.head()

,entry_id,Sensor1 PM2.5_CF_1_ug/m3,Sensor1 PM10_CF_1_ug/m3,Sensor2PM2.5_CF_1_ug/m3,Sensor2 PM10_CF_1_ug/m3,Latitude,Longitude,Battery Voltage,GpsData
created_at,,,,,,,,,
2019-09-23T14:32:18Z,1,43.95,54.10,46.20,58.57,0.000000,0.000000,4.14,"0.000000,0.000000, 0.00,0.00,0.00,0.00,0.00,0.00"
2019-09-23T14:33:25Z,2,42.37,52.85,45.65,56.45,1000.000000,1000.000000,4.20,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2019-09-23T14:34:43Z,3,42.65,52.87,45.50,56.78,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2019-09-23T14:35:55Z,4,42.70,54.05,45.05,55.85,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2019-09-23T14:37:22Z,5,42.28,51.45,44.42,55.60,1000.000000,1000.000000,4.16,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."

In [5]:
feeds.tail()

,entry_id,Sensor1 PM2.5_CF_1_ug/m3,Sensor1 PM10_CF_1_ug/m3,Sensor2PM2.5_CF_1_ug/m3,Sensor2 PM10_CF_1_ug/m3,Latitude,Longitude,Battery Voltage,GpsData
created_at,,,,,,,,,
2020-02-12T14:16:15Z,112021,51.00,63.62,57.30,70.45,0.332347,32.569878,4.21,"0.332347,32.569878,1236.50,0.01,11.00,80.00,0...."
2020-02-12T14:17:44Z,112022,49.65,61.58,55.75,68.03,0.332378,32.569866,4.21,"0.332378,32.569866,1235.30,0.00,10.00,90.00,0...."
2020-02-12T14:19:06Z,112023,48.45,59.67,55.10,67.90,0.332373,32.569878,4.21,"0.332373,32.569878,1238.70,0.00,11.00,80.00,0...."
2020-02-12T14:20:28Z,112024,50.15,62.12,53.80,66.63,0.332385,32.569893,4.21,"0.332385,32.569893,1244.10,0.00,12.00,80.00,0...."
2020-02-12T14:21:49Z,112025,49.07,60.98,52.13,65.38,0.332303,32.569859,4.21,"0.332303,32.569859,1231.00,0.00,12.00,80.00,0...."

In [8]:
feeds.rename(
    {"2019-09-23T14:32:18Z": "2019-09-23T14:32:18Z"[:-1].split("T")}, axis=0)

,entry_id,Sensor1 PM2.5_CF_1_ug/m3,Sensor1 PM10_CF_1_ug/m3,Sensor2PM2.5_CF_1_ug/m3,Sensor2 PM10_CF_1_ug/m3,Latitude,Longitude,Battery Voltage,GpsData
created_at,,,,,,,,,
"[2019-09-23, 14:32:18]",1,43.95,54.10,46.20,58.57,0.000000,0.000000,4.14,"0.000000,0.000000, 0.00,0.00,0.00,0.00,0.00,0.00"
2019-09-23T14:33:25Z,2,42.37,52.85,45.65,56.45,1000.000000,1000.000000,4.20,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2019-09-23T14:34:43Z,3,42.65,52.87,45.50,56.78,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2019-09-23T14:35:55Z,4,42.70,54.05,45.05,55.85,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2019-09-23T14:37:22Z,5,42.28,51.45,44.42,55.60,1000.000000,1000.000000,4.16,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
...,...,...,...,...,...,...,...,...,...
2020-02-11T11:39:23Z,110875,42.90,51.95,46.68,58.30,0.332330,32.569897,4.21,"0.332330,32.569897,1225.00,0.00,13.00,70.00,0...."
2020-02-11T11:40:45Z,110876,44.05,54.00,46.62,57.97,0.332340,32.569893,4.21,"0.332340,32.569893,1225.20,0.00,10.00,80.00,0...."
2020-02-11T11:42:14Z,110877,40.62,49.07,44.85,55.33,0.332352,32.569885,4.21,"0.332352,32.569885,1225.60,0.00,12.00,70.00,0...."
2020-02-11T11:43:29Z,110878,42.67,51.97,44.37,53.92,0.332335,32.569878,4.21,"0.332335,32.569878,1226.50,0.00,11.00,80.00,0...."
2020-02-11T11:44:51Z,110879,41.73,50.98,44.87,54.43,0.332307,32.569866,4.21,"0.332307,32.569866,1225.60,0.00,12.00,70.00,0...."

In [51]:
x = {}
for feed in feeds.index[0:5]:
    x[feed] = feed[:-1].split("T")

In [52]:
x

{'2019-09-23T14:32:18Z': ['2019-09-23', '14:32:18'],
 '2019-09-23T14:33:25Z': ['2019-09-23', '14:33:25'],
 '2019-09-23T14:34:43Z': ['2019-09-23', '14:34:43'],
 '2019-09-23T14:35:55Z': ['2019-09-23', '14:35:55'],
 '2019-09-23T14:37:22Z': ['2019-09-23', '14:37:22']}

In [53]:
feeds2 = feeds.rename(x, axis = 0)

In [54]:
feeds2.head()

,entry_id,Sensor1 PM2.5_CF_1_ug/m3,Sensor1 PM10_CF_1_ug/m3,Sensor2PM2.5_CF_1_ug/m3,Sensor2 PM10_CF_1_ug/m3,Latitude,Longitude,Battery Voltage,GpsData
created_at,,,,,,,,,
"[2019-09-23, 14:32:18]",1,43.95,54.10,46.20,58.57,0.000000,0.000000,4.14,"0.000000,0.000000, 0.00,0.00,0.00,0.00,0.00,0.00"
"[2019-09-23, 14:33:25]",2,42.37,52.85,45.65,56.45,1000.000000,1000.000000,4.20,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
"[2019-09-23, 14:34:43]",3,42.65,52.87,45.50,56.78,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
"[2019-09-23, 14:35:55]",4,42.70,54.05,45.05,55.85,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
"[2019-09-23, 14:37:22]",5,42.28,51.45,44.42,55.60,1000.000000,1000.000000,4.16,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."

In [62]:
def feed_data(sensor_id):
    """Gets all data points for a given sensor from ThingSpeak API and returns
    them as a formatted Pandas dataframe. 

    Parameters
    ----------
    sensor_id : int
        ID for sensor of interest, can be found at 
        https://forecast-dot-airqo-250220.appspot.com/api/v1/forecast/channels

    Returns
    -------
    feeds : DataFrame
        DataFrame of all responses for a given sensor from ThingSpeak API      
    """

    # Get list of responses from API
    responses = get_thingspeak.get_feeds(sensor_id)
    # Create data frame excluding last feed to avoid overlap
    # List is created backwards from responses to be chronologically correct
    frames = [pd.DataFrame(response.json()['feeds'][:-1])
              for response in responses[::-1]]
    feeds = pd.concat(frames)
    # Set row names as date of creation
   # feeds = feeds.set_index('created_at')
    # Get headers from "channel" response
   # feeds = get_thingspeak.get_headers(feeds, responses)

    return feeds

In [174]:
import pandas as pd
feeds2 = feed_data(870146)

All items returned

In [124]:
feeds2.head()

,created_at,entry_id,field1,field2,field3,field4,field5,field6,field7,field8
0,2019-09-23T14:32:18Z,1,43.95,54.10,46.20,58.57,0.000000,0.000000,4.14,"0.000000,0.000000, 0.00,0.00,0.00,0.00,0.00,0.00"
1,2019-09-23T14:33:25Z,2,42.37,52.85,45.65,56.45,1000.000000,1000.000000,4.20,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2,2019-09-23T14:34:43Z,3,42.65,52.87,45.50,56.78,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
3,2019-09-23T14:35:55Z,4,42.70,54.05,45.05,55.85,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
4,2019-09-23T14:37:22Z,5,42.28,51.45,44.42,55.60,1000.000000,1000.000000,4.16,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."

In [175]:
split = feeds2["created_at"].str.split("T", expand=True)
feeds2.insert(0, "Date", split[0])
feeds2.insert(1, "Time", split[1])

#feeds2["Date"] = split[1]

In [148]:
feeds2.columns

Index(['Date', 'Time', 'created_at', 'entry_id', 'field1', 'field2', 'field3',
       'field4', 'field5', 'field6', 'field7', 'field8'],
      dtype='object')

In [159]:
a = []
for time in feeds2["Time"]:
    a.append(time[:-1])

In [162]:
feeds2.Time = a

In [176]:
feeds2.Time = [time[:-1] for time in feeds2.Time]

In [177]:
feeds2 = feeds2.drop("created_at", axis=1)
feeds2.head()

,Date,Time,entry_id,field1,field2,field3,field4,field5,field6,field7,field8
0,2019-09-23,14:32:18,1,43.95,54.10,46.20,58.57,0.000000,0.000000,4.14,"0.000000,0.000000, 0.00,0.00,0.00,0.00,0.00,0.00"
1,2019-09-23,14:33:25,2,42.37,52.85,45.65,56.45,1000.000000,1000.000000,4.20,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
2,2019-09-23,14:34:43,3,42.65,52.87,45.50,56.78,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
3,2019-09-23,14:35:55,4,42.70,54.05,45.05,55.85,1000.000000,1000.000000,4.19,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."
4,2019-09-23,14:37:22,5,42.28,51.45,44.42,55.60,1000.000000,1000.000000,4.16,"1000.000000,1000.000000,1000000.00,-1.00,255.0..."

In [4]:
import requests
import requests_cache
requests_cache.install_cache("test", expire_after = 5)

In [5]:
r = requests.get(
            "https://api.thingspeak.com/channels/870146/feeds.json?results=150&end=")

r.json()
r.from_cache

{'channel': {'id': 870146,
  'name': 'AIRQO-62 UNIT ACTIVE',
  'description': 'AirQo unit with dual pms5003 sensor Cocis',
  'latitude': '0.0',
  'longitude': '0.0',
  'field1': 'Sensor1 PM2.5_CF_1_ug/m3',
  'field2': 'Sensor1 PM10_CF_1_ug/m3',
  'field3': 'Sensor2PM2.5_CF_1_ug/m3',
  'field4': 'Sensor2 PM10_CF_1_ug/m3',
  'field5': 'Latitude',
  'field6': 'Longitude',
  'field7': 'Battery Voltage',
  'field8': 'GpsData',
  'created_at': '2019-09-23T13:03:40Z',
  'updated_at': '2019-09-30T10:14:21Z',
  'last_entry_id': 111998},
 'feeds': [{'created_at': '2020-02-12T10:16:23Z',
   'entry_id': 111849,
   'field1': '   56.43',
   'field2': '   69.70',
   'field3': '   64.13',
   'field4': '   74.77',
   'field5': '0.332357',
   'field6': '32.569847',
   'field7': '    4.21',
   'field8': '0.332357,32.569847,1223.50,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:17:46Z',
   'entry_id': 111850,
   'field1': '   58.10',
   'field2': '   70.03',
   'field3': '   66.07',
   'field4': '   75.12',
   'field5': '0.332357',
   'field6': '32.569859',
   'field7': '    4.21',
   'field8': '0.332357,32.569859,1229.30,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:19:15Z',
   'entry_id': 111851,
   'field1': '   55.83',
   'field2': '   67.93',
   'field3': '   67.02',
   'field4': '   75.27',
   'field5': '0.332348',
   'field6': '32.569859',
   'field7': '    4.21',
   'field8': '0.332348,32.569859,1222.90,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:20:31Z',
   'entry_id': 111852,
   'field1': '   58.60',
   'field2': '   70.28',
   'field3': '   67.13',
   'field4': '   75.20',
   'field5': '0.332338',
   'field6': '32.569862',
   'field7': '    4.21',
   'field8': '0.332338,32.569862,1216.00,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:21:52Z',
   'entry_id': 111853,
   'field1': '   60.55',
   'field2': '   70.93',
   'field3': '   67.55',
   'field4': '   76.67',
   'field5': '0.332310',
   'field6': '32.569851',
   'field7': '    4.21',
   'field8': '0.332310,32.569851,1215.30,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:23:15Z',
   'entry_id': 111854,
   'field1': '   60.83',
   'field2': '   71.92',
   'field3': '   69.70',
   'field4': '   76.75',
   'field5': '0.332297',
   'field6': '32.569828',
   'field7': '    4.21',
   'field8': '0.332297,32.569828,1218.30,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:24:45Z',
   'entry_id': 111855,
   'field1': '   58.92',
   'field2': '   70.42',
   'field3': '   68.43',
   'field4': '   75.58',
   'field5': '0.332317',
   'field6': '32.569813',
   'field7': '    4.21',
   'field8': '0.332317,32.569813,1224.90,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:26:00Z',
   'entry_id': 111856,
   'field1': '   58.13',
   'field2': '   69.38',
   'field3': '   68.95',
   'field4': '   76.03',
   'field5': '0.332300',
   'field6': '32.569813',
   'field7': '    4.21',
   'field8': '0.332300,32.569813,1220.50,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:27:22Z',
   'entry_id': 111857,
   'field1': '   60.30',
   'field2': '   71.20',
   'field3': '   69.78',
   'field4': '   77.38',
   'field5': '0.332297',
   'field6': '32.569809',
   'field7': '    4.21',
   'field8': '0.332297,32.569809,1219.50,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:28:42Z',
   'entry_id': 111858,
   'field1': '   60.12',
   'field2': '   69.98',
   'field3': '   66.73',
   'field4': '   75.35',
   'field5': '0.332300',
   'field6': '32.569828',
   'field7': '    4.21',
   'field8': '0.332300,32.569828,1218.50,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:30:12Z',
   'entry_id': 111859,
   'field1': '   59.20',
   'field2': '   70.77',
   'field3': '   70.68',
   'field4': '   78.12',
   'field5': '0.332325',
   'field6': '32.569851',
   'field7': '    4.21',
   'field8': '0.332325,32.569851,1215.30,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:31:35Z',
   'entry_id': 111860,
   'field1': '   61.45',
   'field2': '   72.33',
   'field3': '   69.73',
   'field4': '   77.02',
   'field5': '0.332318',
   'field6': '32.569862',
   'field7': '    4.21',
   'field8': '0.332318,32.569862,1220.80,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:32:56Z',
   'entry_id': 111861,
   'field1': '   59.55',
   'field2': '   70.68',
   'field3': '   67.72',
   'field4': '   76.57',
   'field5': '0.332325',
   'field6': '32.569862',
   'field7': '    4.21',
   'field8': '0.332325,32.569862,1223.60,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:34:17Z',
   'entry_id': 111862,
   'field1': '   58.48',
   'field2': '   70.18',
   'field3': '   67.12',
   'field4': '   74.67',
   'field5': '0.332317',
   'field6': '32.569855',
   'field7': '    4.21',
   'field8': '0.332317,32.569855,1224.80,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:35:47Z',
   'entry_id': 111863,
   'field1': '   58.35',
   'field2': '   71.00',
   'field3': '   65.33',
   'field4': '   74.05',
   'field5': '0.332305',
   'field6': '32.569881',
   'field7': '    4.21',
   'field8': '0.332305,32.569881,1224.80,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:37:09Z',
   'entry_id': 111864,
   'field1': '   58.18',
   'field2': '   69.63',
   'field3': '   67.67',
   'field4': '   75.72',
   'field5': '0.332312',
   'field6': '32.569889',
   'field7': '    4.21',
   'field8': '0.332312,32.569889,1227.90,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:38:31Z',
   'entry_id': 111865,
   'field1': '   58.93',
   'field2': '   70.23',
   'field3': '   70.58',
   'field4': '   78.67',
   'field5': '0.332325',
   'field6': '32.569885',
   'field7': '    4.21',
   'field8': '0.332325,32.569885,1222.70,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:39:53Z',
   'entry_id': 111866,
   'field1': '   55.98',
   'field2': '   68.32',
   'field3': '   67.62',
   'field4': '   76.22',
   'field5': '0.332337',
   'field6': '32.569893',
   'field7': '    4.21',
   'field8': '0.332337,32.569893,1224.90,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:41:22Z',
   'entry_id': 111867,
   'field1': '   59.00',
   'field2': '   70.45',
   'field3': '   69.48',
   'field4': '   76.43',
   'field5': '0.332308',
   'field6': '32.569874',
   'field7': '    4.21',
   'field8': '0.332308,32.569874,1228.40,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:42:43Z',
   'entry_id': 111868,
   'field1': '   58.18',
   'field2': '   69.50',
   'field3': '   66.78',
   'field4': '   75.37',
   'field5': '0.332312',
   'field6': '32.569889',
   'field7': '    4.21',
   'field8': '0.332312,32.569889,1227.30,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:44:05Z',
   'entry_id': 111869,
   'field1': '   56.70',
   'field2': '   68.85',
   'field3': '   68.48',
   'field4': '   76.52',
   'field5': '0.332182',
   'field6': '32.569801',
   'field7': '    4.21',
   'field8': '0.332182,32.569801,1221.80,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:45:27Z',
   'entry_id': 111870,
   'field1': '   58.43',
   'field2': '   69.57',
   'field3': '   66.12',
   'field4': '   74.67',
   'field5': '0.332240',
   'field6': '32.569820',
   'field7': '    4.21',
   'field8': '0.332240,32.569820,1220.60,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:46:57Z',
   'entry_id': 111871,
   'field1': '   55.30',
   'field2': '   68.03',
   'field3': '   65.65',
   'field4': '   74.43',
   'field5': '0.332297',
   'field6': '32.569820',
   'field7': '    4.21',
   'field8': '0.332297,32.569820,1206.10,0.00,10.00,110.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:48:19Z',
   'entry_id': 111872,
   'field1': '   57.65',
   'field2': '   69.15',
   'field3': '   65.07',
   'field4': '   73.93',
   'field5': '0.332317',
   'field6': '32.569859',
   'field7': '    4.21',
   'field8': '0.332317,32.569859,1216.60,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:49:41Z',
   'entry_id': 111873,
   'field1': '   57.75',
   'field2': '   70.28',
   'field3': '   67.18',
   'field4': '   74.78',
   'field5': '0.332332',
   'field6': '32.569851',
   'field7': '    4.21',
   'field8': '0.332332,32.569851,1221.40,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:51:01Z',
   'entry_id': 111874,
   'field1': '   54.82',
   'field2': '   66.88',
   'field3': '   64.60',
   'field4': '   73.67',
   'field5': '0.332377',
   'field6': '32.569851',
   'field7': '    4.21',
   'field8': '0.332377,32.569851,1230.40,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:52:32Z',
   'entry_id': 111875,
   'field1': '   58.02',
   'field2': '   70.22',
   'field3': '   65.85',
   'field4': '   74.67',
   'field5': '0.332373',
   'field6': '32.569859',
   'field7': '    4.21',
   'field8': '0.332373,32.569859,1233.40,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:53:52Z',
   'entry_id': 111876,
   'field1': '   56.03',
   'field2': '   69.35',
   'field3': '   64.57',
   'field4': '   74.07',
   'field5': '0.332367',
   'field6': '32.569855',
   'field7': '    4.21',
   'field8': '0.332367,32.569855,1232.70,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:55:15Z',
   'entry_id': 111877,
   'field1': '   56.77',
   'field2': '   70.42',
   'field3': '   65.00',
   'field4': '   74.05',
   'field5': '0.332358',
   'field6': '32.569866',
   'field7': '    4.21',
   'field8': '0.332358,32.569866,1232.30,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:56:37Z',
   'entry_id': 111878,
   'field1': '   55.00',
   'field2': '   68.73',
   'field3': '   63.67',
   'field4': '   72.97',
   'field5': '0.332347',
   'field6': '32.569885',
   'field7': '    4.21',
   'field8': '0.332347,32.569885,1233.10,0.00,12.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:58:06Z',
   'entry_id': 111879,
   'field1': '   56.97',
   'field2': '   68.50',
   'field3': '   66.00',
   'field4': '   73.83',
   'field5': '0.332345',
   'field6': '32.569847',
   'field7': '    4.21',
   'field8': '0.332345,32.569847,1225.20,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T10:59:26Z',
   'entry_id': 111880,
   'field1': '   56.42',
   'field2': '   68.92',
   'field3': '   64.65',
   'field4': '   74.43',
   'field5': '0.332317',
   'field6': '32.569927',
   'field7': '    4.21',
   'field8': '0.332317,32.569927,1224.30,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:00:48Z',
   'entry_id': 111881,
   'field1': '   57.80',
   'field2': '   69.72',
   'field3': '   65.53',
   'field4': '   74.73',
   'field5': '0.332328',
   'field6': '32.569969',
   'field7': '    4.21',
   'field8': '0.332328,32.569969,1224.00,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:02:09Z',
   'entry_id': 111882,
   'field1': '   57.03',
   'field2': '   68.55',
   'field3': '   65.67',
   'field4': '   74.17',
   'field5': '0.332357',
   'field6': '32.569931',
   'field7': '    4.21',
   'field8': '0.332357,32.569931,1213.30,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:03:40Z',
   'entry_id': 111883,
   'field1': '   54.37',
   'field2': '   66.77',
   'field3': '   64.37',
   'field4': '   73.92',
   'field5': '0.332313',
   'field6': '32.569904',
   'field7': '    4.21',
   'field8': '0.332313,32.569904,1210.90,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:05:02Z',
   'entry_id': 111884,
   'field1': '   54.60',
   'field2': '   67.47',
   'field3': '   65.60',
   'field4': '   75.27',
   'field5': '0.332417',
   'field6': '32.569927',
   'field7': '    4.21',
   'field8': '0.332417,32.569927,1216.50,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:06:22Z',
   'entry_id': 111885,
   'field1': '   52.20',
   'field2': '   64.80',
   'field3': '   64.53',
   'field4': '   74.08',
   'field5': '0.332390',
   'field6': '32.569859',
   'field7': '    4.21',
   'field8': '0.332390,32.569859,1224.20,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:07:44Z',
   'entry_id': 111886,
   'field1': '   53.20',
   'field2': '   66.65',
   'field3': '   62.62',
   'field4': '   73.15',
   'field5': '0.332412',
   'field6': '32.569916',
   'field7': '    4.21',
   'field8': '0.332412,32.569916,1220.70,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:09:14Z',
   'entry_id': 111887,
   'field1': '   55.72',
   'field2': '   68.95',
   'field3': '   63.52',
   'field4': '   73.63',
   'field5': '0.332398',
   'field6': '32.569935',
   'field7': '    4.21',
   'field8': '0.332398,32.569935,1233.00,0.00,12.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:10:35Z',
   'entry_id': 111888,
   'field1': '   53.75',
   'field2': '   66.50',
   'field3': '   63.95',
   'field4': '   73.83',
   'field5': '0.332400',
   'field6': '32.569878',
   'field7': '    4.21',
   'field8': '0.332400,32.569878,1236.70,0.00,12.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:11:56Z',
   'entry_id': 111889,
   'field1': '   53.87',
   'field2': '   66.82',
   'field3': '   63.50',
   'field4': '   73.23',
   'field5': '0.332378',
   'field6': '32.569851',
   'field7': '    4.21',
   'field8': '0.332378,32.569851,1233.90,0.00,12.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:13:11Z',
   'entry_id': 111890,
   'field1': '   54.73',
   'field2': '   67.03',
   'field3': '   65.15',
   'field4': '   73.50',
   'field5': '0.332382',
   'field6': '32.569901',
   'field7': '    4.21',
   'field8': '0.332382,32.569901,1245.30,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:14:41Z',
   'entry_id': 111891,
   'field1': '   55.18',
   'field2': '   68.10',
   'field3': '   64.70',
   'field4': '   73.82',
   'field5': '0.332383',
   'field6': '32.569923',
   'field7': '    4.21',
   'field8': '0.332383,32.569923,1240.50,0.00,13.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:16:02Z',
   'entry_id': 111892,
   'field1': '   54.08',
   'field2': '   66.73',
   'field3': '   63.52',
   'field4': '   73.20',
   'field5': '0.332393',
   'field6': '32.569889',
   'field7': '    4.21',
   'field8': '0.332393,32.569889,1236.20,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:17:24Z',
   'entry_id': 111893,
   'field1': '   55.35',
   'field2': '   67.63',
   'field3': '   62.38',
   'field4': '   72.70',
   'field5': '0.332383',
   'field6': '32.569862',
   'field7': '    4.21',
   'field8': '0.332383,32.569862,1235.30,0.00,13.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:18:45Z',
   'entry_id': 111894,
   'field1': '   52.05',
   'field2': '   64.70',
   'field3': '   62.30',
   'field4': '   72.65',
   'field5': '0.332440',
   'field6': '32.569893',
   'field7': '    4.21',
   'field8': '0.332440,32.569893,1231.40,0.00,13.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:20:15Z',
   'entry_id': 111895,
   'field1': '   56.80',
   'field2': '   70.53',
   'field3': '   65.58',
   'field4': '   75.18',
   'field5': '0.332338',
   'field6': '32.569851',
   'field7': '    4.21',
   'field8': '0.332338,32.569851,1236.50,0.00,12.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:21:37Z',
   'entry_id': 111896,
   'field1': '   53.40',
   'field2': '   65.70',
   'field3': '   62.85',
   'field4': '   72.72',
   'field5': '0.332393',
   'field6': '32.569866',
   'field7': '    4.21',
   'field8': '0.332393,32.569866,1236.40,0.00,11.00,90.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:22:58Z',
   'entry_id': 111897,
   'field1': '   53.43',
   'field2': '   66.72',
   'field3': '   63.13',
   'field4': '   73.52',
   'field5': '0.332382',
   'field6': '32.569920',
   'field7': '    4.21',
   'field8': '0.332382,32.569920,1221.50,0.00,13.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:24:19Z',
   'entry_id': 111898,
   'field1': '   53.25',
   'field2': '   67.03',
   'field3': '   58.78',
   'field4': '   70.70',
   'field5': '0.332297',
   'field6': '32.569874',
   'field7': '    4.21',
   'field8': '0.332297,32.569874,1218.60,0.00,12.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:25:48Z',
   'entry_id': 111899,
   'field1': '   51.90',
   'field2': '   65.05',
   'field3': '   61.63',
   'field4': '   72.05',
   'field5': '0.332302',
   'field6': '32.569889',
   'field7': '    4.21',
   'field8': '0.332302,32.569889,1223.80,0.00,13.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:27:10Z',
   'entry_id': 111900,
   'field1': '   52.23',
   'field2': '   65.95',
   'field3': '   59.40',
   'field4': '   71.32',
   'field5': '0.332300',
   'field6': '32.569904',
   'field7': '    4.21',
   'field8': '0.332300,32.569904,1224.40,0.00,10.00,110.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:28:31Z',
   'entry_id': 111901,
   'field1': '   51.52',
   'field2': '   64.37',
   'field3': '   58.77',
   'field4': '   70.30',
   'field5': '0.332307',
   'field6': '32.569893',
   'field7': '    4.21',
   'field8': '0.332307,32.569893,1225.30,0.00,12.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:29:47Z',
   'entry_id': 111902,
   'field1': '   53.18',
   'field2': '   66.55',
   'field3': '   60.50',
   'field4': '   70.82',
   'field5': '0.332295',
   'field6': '32.569912',
   'field7': '    4.21',
   'field8': '0.332295,32.569912,1227.50,0.00,13.00,80.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:31:17Z',
   'entry_id': 111903,
   'field1': '   53.30',
   'field2': '   66.18',
   'field3': '   62.07',
   'field4': '   72.77',
   'field5': '0.332298',
   'field6': '32.569908',
   'field7': '    4.21',
   'field8': '0.332298,32.569908,1231.30,0.00,14.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:32:39Z',
   'entry_id': 111904,
   'field1': '   53.55',
   'field2': '   67.48',
   'field3': '   60.78',
   'field4': '   71.97',
   'field5': '0.332270',
   'field6': '32.569901',
   'field7': '    4.21',
   'field8': '0.332270,32.569901,1228.80,0.06,13.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:34:01Z',
   'entry_id': 111905,
   'field1': '   52.73',
   'field2': '   66.12',
   'field3': '   60.62',
   'field4': '   71.57',
   'field5': '0.332292',
   'field6': '32.569901',
   'field7': '    4.21',
   'field8': '0.332292,32.569901,1224.70,0.00,14.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:35:23Z',
   'entry_id': 111906,
   'field1': '   51.32',
   'field2': '   64.73',
   'field3': '   61.03',
   'field4': '   71.93',
   'field5': '0.332295',
   'field6': '32.569901',
   'field7': '    4.21',
   'field8': '0.332295,32.569901,1221.80,0.00,14.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:36:53Z',
   'entry_id': 111907,
   'field1': '   51.57',
   'field2': '   64.92',
   'field3': '   59.27',
   'field4': '   70.05',
   'field5': '0.332310',
   'field6': '32.569901',
   'field7': '    4.21',
   'field8': '0.332310,32.569901,1222.20,0.00,14.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:38:14Z',
   'entry_id': 111908,
   'field1': '   52.42',
   'field2': '   64.88',
   'field3': '   58.20',
   'field4': '   70.45',
   'field5': '0.332343',
   'field6': '32.569897',
   'field7': '    4.21',
   'field8': '0.332343,32.569897,1221.80,0.00,14.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:39:36Z',
   'entry_id': 111909,
   'field1': '   51.15',
   'field2': '   64.48',
   'field3': '   57.25',
   'field4': '   69.55',
   'field5': '0.332323',
   'field6': '32.569908',
   'field7': '    4.21',
   'field8': '0.332323,32.569908,1222.80,0.00,14.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:40:56Z',
   'entry_id': 111910,
   'field1': '   50.87',
   'field2': '   63.85',
   'field3': '   57.25',
   'field4': '   69.37',
   'field5': '0.332313',
   'field6': '32.569916',
   'field7': '    4.21',
   'field8': '0.332313,32.569916,1220.10,0.00,14.00,70.00,0.00,0.00'},
  {'created_at': '2020-02-12T11:42:27Z',
   'entry_id': 111911,
   'field1': '   51.63',
   'field2': '   65.08',
   'field3': '   59.35',
   'field4': '   70.85',

False